##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#

parameters:

  level: 9

  paths:
    - benchmarks
    - src
    - tests/Functional
    - tests/Unit

  excludePaths:
    - vendor/*

  ignoreErrors:
    -
      # Since tests and data providers do not have to have parameter docblocks,
      # it is not possible to specify the type of the parameter, so we ignore
      # this error.
      message: '#.*no value type specified in iterable type array.#'
      reportUnmatched: false

    -
      # PHPStan does not resolve PHPBench attribute classes.
      message: '#Attribute class PHPBench\\Attributes\\.*does not exist\.#'
      reportUnmatched: false
